@media (max-width: 992px) {
    .mobile-btn {
        display: flex;
        z-index: 12;
    }

    .show-mobile-btn span {
        background: transparent;
    }

    .show-mobile-btn span::before,
    .show-mobile-btn span::after {
        top: 0;
        bottom: 0;
        margin: auto;
    }

    .show-mobile-btn span::before {
        transform: rotate(45deg);
    }

    .show-mobile-btn span::after {
        transform: rotate(-45deg);
    }

    span {
        font-size: 32px;
        color: #4D5559;
        transform: rotate(90deg);
    }

    .header-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        background: linear-gradient(-45deg, #d55c00
        , #2fffff);
        background-size: 200% 200%;
        height: 100%;
        width: 100%;
        top: 0;
        right: -100%;
        z-index: 11;
        animation: gradient 5s ease infinite;
        transition: .7s;
    }

    @keyframes gradient {
        0% {
            background-position: 0 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0 50%;
        }

    }
    .show-menu {
        right: 0;
    }

    .show-header-link {
        font-size: 20px;
        margin-bottom: 18px;
        padding: 20px 0;
        border: 1px solid #000000;
        width: 185px;
        text-align: center;
        border-radius: 8px;
        color: black;
        transition: 1s;
    }


    .show-header-link:after {
        background: black;
    }
}


@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {
    .container {
        width: 820px;
        margin: 0 auto;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .col-6 {
        width: 80%;
        padding: 0 15px;
    }

    .col-4 {
        width: 50%;
        padding: 0 15px;
    }

    .col-3 {
        width: 33.3%;
        padding: 0 15px;
    }

    .travel-wrap {
        flex-wrap: wrap;

    }

    .travel-item-1 {
        width: 100%;
        margin-bottom: 200px;
    }

    .travel-item-2 {
        width: 100%;
        margin-left: 200px;
    }

    .travel-play {
        transform: translate(50%, -75%);
    }

    .travel-under-text {
        transform: translate(-500%, 40%);
    }

    .service-wrap {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

    .service-item {
        margin-bottom: 50px;
    }

    .destination-wrap{
        justify-content: center;
        flex-wrap: wrap;
    }

    .trip-wrap{
        flex-wrap: wrap;
    }
    .review-wrap{
        flex-wrap: wrap;
    }
    .partner-wrap{
        padding-right: 100px;
    }
    .helper-wrap{
        padding-right: 150px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 650px;
        margin: 0 auto;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .col-6 {
        width: 100%;
        padding: 0 15px;
    }

    .col-4 {
        width: 50%;
        padding: 0 15px;
    }

    .col-3 {
        width: 33.3%;
        padding: 0 15px;
    }

    .travel-item-1{
        padding-right: 300px;
    }

    .travel-play{
        transform: translate(90%, 40%);
    }

    .travel-under-text{
        transform: translate(-430%, 40%);
    }

    .destination-wrap{
        padding-right: 150px;
    }

    .partner-wrap{
        flex-wrap: wrap;
    }
    .contact-form{
        padding-right: 200px;
    }



}

@media screen and (max-width: 680px) {
    .container {
        width: 480px;
        margin: 0 auto;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .col-6 {
        width: 100%;
        padding: 0 15px;
    }


}
